{% include 'overall_header.html' %}

<h1>{{ lang('ACP_INFOTOZIP_TITLE') }}</h1>

<p><img src="https://img.shields.io/badge/{{ lang('INFOTOZIP_VERSION') }}-{{ INFOTOZIP_VERSION }}-green.svg?style=plastic" /></p>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form id="dmzx_infotozip_acp" name="dmzx_infotozip_acp" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend><i class="icon fa-wrench fa-lg" aria-hidden="true"></i> {{ lang('SETTINGS') }}</legend>
		<dl>
			<dt>
				<label for="infotozip_enable">{{ lang('INFOTOZIP_ENABLE') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('INFOTOZIP_ENABLE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" id="infotozip_enable" class="radio" name="infotozip_enable" value="1"{% if INFOTOZIP_ENABLE %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="infotozip_enable" value="0"{% if not INFOTOZIP_ENABLE %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label>{{ lang('INFOTOZIP_COUNT') }}{{ lang('COLON') }}</label><br />{{ lang('INFOTOZIP_COUNT_EXPLAIN') }}
			</dt>
			<dd>
				<input type="number" name="infotozip_count" value="{{ INFOTOZIP_COUNT }}" size="4" min="1" title="{{ lang('INFOTOZIP_COUNT') }}" style="text-align:center;" />
			</dd>
		</dl>
	</fieldset>
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
